<h3><%= current_user.current_dilemma.name %></h3>
<h5>deadline: <%= current_user.current_dilemma.pretty_deadline %></h5>

<%= link_to "back", dilemma_path(current_user.current_dilemma) %><br>

<%= form_for option do |o| %>
  <%= o.label :name %>
  <%= o.text_field :name %><br>
  <br>
  <%= o.label :factors %><br>
  <% if option.id == nil %>
    <% 5.times do %>
      <%= o.fields_for :factor do |fact| %>
        <%= fact.label :name %>
        <%= fact.text_field :name %>
        <%= fact.label :points %>
        <%= fact.text_field :points %>
      <% end %><br>
    <% end %>
  <% else %>
    <%= o.fields_for :factors, option.factors do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :points %>
      <%= f.text_field :points %><br>
    <% end %><br>
  <% end %>
  <%= o.submit %>
<% end %>