<h3><%= current_user.current_dilemma.name %></h3>
<%= link_to "back", dilemma_path(current_user.current_dilemma) %><br>

<%= form_for :option do |o| %>
  <%= o.label :name %>
  <%= o.text_field :name %><br>
  <br>
factors: <br>
  <% 5.times do %>
    <%= o.fields_for :factors do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :points %>
      <%= f.text_field :points %>
    <% end %><br>
  <% end %>
  <%= o.submit %>
<% end %>