<h3><%= current_user.current_dilemma.name %></h3>

option:
<%= form_for @option do |o| %>
  <%= o.label :name %>
  <%= o.text_field :name %><br>
  <br>
factors: <br>
  <%= o.fields_for :factors, @option.factors.build do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :points %>
    <%= f.text_field :points %>
  <% end %><br>
  <%= o.submit %>
<% end %>