<h3><%= current_user.current_dilemma.name %></h3>

option:
<%= form_for @option do |o| %>
  <%= o.label :name %>
  <%= o.text_field :name %><br>
  <br>
factors: <br>
  <%= o.fields_for :factors, @option.factors.build do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :points %>
    <%= f.text_field :points %>
  <% end %><br>
  <%= o.fields_for :factors, Factor.new do |f2| %>
    <%= f2.label :name %>
    <%= f2.text_field :name %>
    <%= f2.label :points %>
    <%= f2.text_field :points %><br>
  <% end %>
  <%= o.fields_for :factors, Factor.new do |f3| %>
    <%= f3.label :name %>
    <%= f3.text_field :name %>
    <%= f3.label :points %>
    <%= f3.text_field :points %><br>
  <% end %>
  <%= o.fields_for :factors, Factor.new do |f4| %>
    <%= f4.label :name %>
    <%= f4.text_field :name %>
    <%= f4.label :points %>
    <%= f4.text_field :points %><br>
  <% end %>
  <%= o.fields_for :factors, Factor.new do |f5| %>
    <%= f5.label :name %>
    <%= f5.text_field :name %>
    <%= f5.label :points %>
    <%= f5.text_field :points %><br>
  <% end %>
  <%= o.submit %>
<% end %>