<h3><%= current_user.current_dilemma.name %></h3>

option:
<%= form_for @option do |o| %>
  <%= o.label :name %>
  <%= o.text_field :name %><br>
  <br>
factors: <br>
  <%= o.fields_for :factors, @option.factors.build do |f1| %>
    <%= f1.label :name %>
    <%= f1.text_field :name %>
    <%= f1.label :points %>
    <%= f1.text_field :points %><br>
  <% end %>
  <%= o.submit %>
<% end %>