<h3><%= link_to current_user.current_dilemma.name, dilemma_path(current_user.current_dilemma) %></h3>
<h4><%= @option.name %></h4>

<table>
  <tr>
    <th>factors</th>
    <th>points</th>
  </tr>
  <% @option.factors.each do |fact| %>
    <tr>
      <td><%= "#{fact.name}"%></td>
      <td><%= "#{fact.points}" %></td>
    </tr>
  <% end %>
</table>

<%= link_to "edit", edit_option_path(@option) %><br>
<%= link_to "delete this option", option_path(@option), method: "delete" %>