<h3><%= link_to @option.dilemma.name, dilemma_path(@option.dilemma) %></h3>
<h5>user: <%= @option.dilemma.user.email %> | deadline: <%= @option.dilemma.pretty_deadline %></h5>

<h4><%= @option.name %></h4>

<table style="margin: auto;">
  <tr>
    <th>factors</th>
    <th>points</th>
  </tr>
  <% @option.factors.each do |fact| %>
    <tr>
      <td><%= fact.name %></td>
      <td><%= fact.points %></td>
      <% if @option.dilemma.user == current_user %>
        <td><%= link_to "delete", dilemma_option_factor_path(current_user.current_dilemma, @option, fact), method: "delete" %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>total</th>
    <th><%= @option.total_points %></th>
  </tr>
</table><br>

<% if @option.dilemma.user == current_user %>
  <%= link_to "new factor", new_dilemma_option_factor_path(current_user.current_dilemma, @option, option_id: @option.id) %><br>
  <%= link_to "edit", edit_dilemma_option_path(current_user.current_dilemma, @option) %> | <%= link_to "delete this option", dilemma_option_path(@option), method: "delete" %>
<% end %>