<h3><%= link_to current_user.current_dilemma.name, dilemma_path(current_user.current_dilemma) %></h3>
<h4><%= link_to @factor.option.name, option_path(@factor.option) %></h4>

<%= form_for @factor do |f| %>
  <%= f.hidden_field :option_id, value: @factor.option.id %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :points %>
  <%= f.text_field :points %><br>
  <%= f.submit %>
<% end %><br>
<br>
