<table style="margin: auto;">
  <tr>
    <th>tag</th>
    <th>your dilemmas</th>
  </tr>
  <% @tags.each do |t| %>
    <tr>
      <td><%= t.name %></td>
      <td>
        <% t.dilemmas.each do |d| %>
          <%= link_to d.name, dilemma_path(d) if d.user == current_user %>
        <% end %>
      </td>
      <td><%= link_to "view/edit", tag_path(t) %></td>
      <td><%= link_to "delete", tag_path(t), method: "delete" %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to "add new tag", new_tag_path %></td>
    <td><%= link_to "see all dilemmas", dilemmas_path %></td>
  </tr>
</table>