<h3><%= @tag.name %></h3>
<br>

dilemmas:
<ul style="list-style-type: none;">
  <% @tag.dilemmas.each do |d| %>
    <li><%= link_to d.name, dilemma_path(d) %></li>
  <% end %>
</ul>
<%= link_to "edit", edit_tag_path(@tag) %> | <%= link_to "delete this tag", tag_path(@tag), method: "delete" %><br><br>

<%= link_to "back", tags_path %>