<h3><%= @tag.name %></h3>

<table style="margin: auto;">
  <tr>
    <th>dilemmas:</th>
    <th>deadline</th>
    <th>all tags</th>
  </tr>
  <% @tag.dilemmas.each do |d| %>
    <%= render partial: 'layouts/table', locals: {d: d} %>
  <% end %>
</table>
<br>
<%= link_to "edit", edit_tag_path(@tag) %> | <%= link_to "delete this tag", tag_path(@tag), method: "delete" %><br><br>

<%= link_to "back", tags_path %>