<h3><%= @tag.name %></h3>

<table style="margin: auto;">
  <tr>
    <th>dilemmas:</th>
  </tr>
  <% @tag.dilemmas.each do |d| %>
    <tr>
      <td><%= link_to d.name, dilemma_path(d) %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "edit", edit_tag_path(@tag) %> | <%= link_to "delete this tag", tag_path(@tag), method: "delete" %><br><br>

<%= link_to "back", tags_path %>