<table>
  <tr>
    <th>dilemma</th>
    <th>deadline</th>
  </tr>
  <% current_user.dilemmas.each do |d| %>
    <tr>
      <td><%= d.name %></td>
      <td><%= d.pretty_deadline %></td>
      <td><%= link_to "view/edit", dilemma_path(d) %></td>
      <td><%= link_to "delete", dilemma_path(d), method: "delete" %></td>
    </tr>
  <% end %>
</table>
<p><%= link_to "Add new dilemma", new_dilemma_path %></p>