<h3><%= current_user.current_dilemma.name %></h3>

<table>
  <tr>
    <th>options</th>
    <th>total points</th>
  </tr>
  <% current_user.current_dilemma.options.each do |opt| %>
    <tr>
      <td><%= "#{opt.name}"%></td>
      <td><%= "#{opt.total_points}" %></td>
      <td><%= link_to "view", option_path(opt) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "New option", new_option_path %>
<br>

<%# link_to "Delete this dilemma", dilemma_path(@dilemma), method: "delete" %>