<h3><%= current_user.current_dilemma.name %></h3>

<table>
  <tr>
    <th>options</th>
    <th>total points</th>
  </tr>
  <% current_user.current_dilemma.options.each do |opt| %>
    <tr>
      <td><%= "#{opt.name}"%></td>
      <td><%= "#{opt.total_points}" %></td>
      <td><%= link_to "view/edit", option_path(opt) %></td>
    </tr>
  <% end %>
</table>

<%= link_to "new option", new_option_path %>
<br>

<%= link_to "edit", edit_dilemma_path(current_user.current_dilemma) %> | <%= link_to "delete this dilemma", dilemma_path(current_user.current_dilemma), method: "delete" %>