<!DOCTYPE html>
<html>
  <head>
    <title>DilemmaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      table {
        margin: auto;
      }

      body {
        width: 75%;
        margin: auto;
        border-left: solid black 1px;
        border-right: solid black 1px;
        border-radius: 10px;
      }

      .nav {
        background-color: #ccc;
      }

      .flash_messages {
        background-color: #ccc;
      }

      #center {
        text-align: center;
      }

      h1 {
        font-family: Brush Script MT, cursive;
        text-align: center;
        font-size: 3em;
      }

      footer p {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="nav">
      <h1>can't make up your mind?</h1>
      <%= render 'layouts/navigation' %><br>
    </div> <!-- nav -->

    <div id="center">
      <%= yield %><br>
    </div> <!-- center -->
    <div class="flash_messages">
      <%= render 'layouts/flash_messages' %>
    <footer>
      <p>by jd2rogers2 - copywrite 2016</p>
    </footer>
    </div> <!-- flash_messages -->
  </body>
</html>
