<!DOCTYPE html>
<html>
  <head>
    <title>DilemmaApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <%= render 'layouts/navigation' %><br>
    </div> <!-- nav -->

    <%= yield %><br>
    <div class="flash_messages">
      <%= render 'layouts/flash_messages' %>
    </div> <!-- flash_messages -->
  </body>
</html>
